[Unit]
Description=Controller of Certificates

[Service]
ExecStart=/bin/bash -c 'usr/bin/python3 /usr/bin/certificate_controller/run.py'
Restart=always

[Install]
WantedBy=multi-user.target
