Source: certificate-controller
Section: devel
Priority: optional
Maintainer: Ali Rıza Girişen <ali.girisen@pardus.org.tr>
Build-Depends: debhelper (>= 10)

Package: certificate-controller
Architecture: any
Depends: python3, pip, krb5-user, krb5-config, libkrb5-dev, 
Description: Certificate controller
postinst: debian/postinst
